//
   Created by L&M on 29/08/14.

extends ../layout
block content
    .page-header
        h3 All Stories
        #stories-container
            each story, s in stories
                .story-container.row.show-grid
                    .col-sm-3
                        span.author-name author name #{story.authorName}
                    .col-sm-3
                        | Content:
                        p.story-content #{story.content}
                    .col-sm-3.author-image-container
                        img.img-circle(src='#{story.authorImageUrl}')
                    .actions.col-sm-3
                        a(href='/story/delete/#{story._id}') delete story
                        span.separator |
                        a(href='#') edit