extends ../layout
block content
    .page-header
        h3 Story
    .story-container
        ul
            li Author Name: #{story.authorName}
            li story content:
                p #{story.content}
            li Author image:
                .author-image-container
                    img(src='#{story.authorImageUrl}')