.story-container{
  .author-image-container{
    img{
      width: 70px;
      height: 70px;}
  }
}
#stories-container{
  .story-container{
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
  }
  .separator{
    padding: 0 5px;
  }
}
